<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abcmobile" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ABCMobile" >
        <activity
            android:name=".activity.Favorit"
            android:exported="false" />
        <activity
            android:name=".activity.Login"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.BottomNav"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.InsertRekening"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.UpdateKodeAkses"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.M_Info"
            android:parentActivityName=".activity.M_ABC" />
        <activity
            android:name=".activity.InsertTransfer"
            android:parentActivityName=".activity.M_ABC" />
        <activity
            android:name=".activity.InsertVirtualAccount"
            android:parentActivityName=".activity.M_ABC" />
        <activity
            android:name=".activity.InfoAccount"
            android:parentActivityName=".activity.M_Info" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>